#canvasBg
{
	
	margin:100px 200px 100px 200px;

}
#canvasjet
{

margin-top:-608px;
margin-left:250px;
margin-right:200px;
margin-bottom:140px;


}
#canvasenemy
{
margin-top:-650px;
margin-left:250px;
margin-right:200px;
margin-bottom:160px;
}
#canvashud
{
margin-top:-665px;
margin-left:250px;
margin-right:200px;
margin-bottom:190px;
}